::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.main-container {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.card-container {
  width: 40%;
  max-width: 40%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.card-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.5em 0 2em 0;
}

.card-image h2 {
  font-size: 2rem;
  letter-spacing: 1rem;
  color: var(--very-light-gray);
  font-weight: bold;
}

.drag-drop-msg {
  color: var(--dark-grayish-blue);
}
.completed-circle-no-anim {
  border: 2px solid var(--very-light-grayish-blue);
}

.completed-circle {
  transition: all 0.4s;
  border: 2px solid var(--very-light-grayish-blue);
}

.completed-circle__done {
  background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%))
      padding-box,
    linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
  border-radius: 50%;
  border: 2px solid transparent;
}

.completed-circle:hover {
  background: linear-gradient(var(--very-light-gray), var(--very-light-gray))
      padding-box,
    linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
  border-radius: 50%;
  border: 2px solid transparent;
}

.items-container__create,
.items-container__list,
.items-container__create-content > input {
  background-color: var(--very-light-gray);
}

.items-container__create-content > input {
  color: var(--very-dark-grayish-blue);
}

.items-container__list {
  display: flex;
  flex-direction: column;
}
.list-container {
  flex-grow: 1;
  flex-basis: 0;
}

.list-control {
  /* background-color: var(--very-light-gray); */
  color: var(--dark-grayish-blue);
  font-size: 0.7rem;
  min-height: 5.5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.task {
  border-bottom: 0.5px solid var(--light-grayish-blue);
  color: var(--very-dark-grayish-blue);
}

.task-content-container {
  flex-grow: 1;
  flex-basis: 0;
  overflow-x: hidden;
}

.task-content {
  flex-grow: 1;
  flex-basis: 0;
  overflow-x: hidden;
}

.task-content-container:hover .delete-task-cross,
.task:hover .delete-task-cross {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-control-status {
  display: flex;
  gap: 0.75em;
}

.task-check-circle {
  height: 3.61rem;
}

.strike {
  text-decoration: line-through;
  color: var(--light-grayish-blue);
}
